/* |------------------| */
/* |-- ADMIN HEADER --| */
/* |------------------| */

#page{
    padding-top: 130px;
    background-color: #f1f2f4;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
    border-radius: 0 0 5px 5px;
    padding-left:8px;
    padding-bottom: 20px;
}

#admin-dashboard{
    position:absolute;
    left:-15px;
    top:0;
    background-color: #CA9169;
    height:100px;
    width:975px;
    border-top:5px #6A3635 solid;
    border-bottom:5px #6A3635 solid;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
    overflow-x: hidden;
}

#admin-dashboard .title{
    margin-left:110px;
    margin-top:25px;
    font-size:35px;
    color:#FFFFFF;
}

.boss{
    position:absolute;
    left:25px;
    top:12px;
    border:3px #87523F solid;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.boss:hover{
    background-color: #EBAB82;
}

#commandes{
    position:absolute;
    right:-20px;
    top:20px;
    width:615px;
    height:70px;
}

.boutons{
    display: inline-block;
    width:200px;
    color:#FFFFFF;
    padding: 3px 6px;
    border-radius: 8px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.boutons:hover{
    cursor:pointer;
    background-color: #e1a479;


}

.actif{
    background-color: #6A3635;
    -webkit-box-shadow: 2px 2px 2px #391c1c;;
    -moz-box-shadow: 2px 2px 2px #391c1c;
    -o-box-shadow: 2px 2px 2px #391c1c;
    box-shadow: 2px 2px 2px #391c1c;
}

.actif:hover{
    background-color: #6A3635;
}

.gestion-title{
    position:relative;
    display: inline-block;
    left:-22px;
    background-color: #D6D6D6;
    font-size: 30px;
    display: inline-block;
    padding:3px 20px 3px 50px;
    border-top:2px #656565 solid;
    border-bottom:2px #656565 solid;
    border-right:2px #656565 solid;
    border-radius: 0 5px 5px 0;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}


.count{
    display: inline-block;
    margin-left:15px;
}


/* |-------------| */
/* |-- TABLEAU --| */
/* |-------------| */


table{
    width:930px;
    margin:35px auto 25px auto;
    border-collapse: collapse;
    background-color: #d6d6d6;
    padding:10px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

thead{
    background-color: #c5c5c5;
    border-bottom: 1px #999999 solid;
    height:40px;
    font-weight: bold;
}

td, th{
    text-align: center;
    min-width:25px;
    border-bottom: 1px #adadad solid;
    padding:5px 7px;
    overflow-y: hidden;
}

.salle-preview{
    width:100px;
}

.editSalle:hover, .supprSalle:hover, .supprProduit:hover,
.supprMembre:hover, .supprAvis{
    cursor:pointer;
}

#popin-global{
    height:150px;
    top:40%;
}

.green{
    color:#50A058;
}

.bordeaux{
    color:#6A3635;
}


/* |---------------------| */
/* |-- POPIN SUPPRIMER --| */
/* |---------------------| */


.oui{
    display: inline-block;
    width: 80px;
    background-color:#50A058;
    border: none;
    text-align:center;
    padding:6px 0;
    margin:30px 10px 0 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-radius: 6px;
    letter-spacing: 1px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.oui:hover{
    cursor:pointer;
    background-color: #5eb966;
}

.non{
    display: inline-block;
    width: 80px;
    background-color:#9B3937;
    border: none;
    text-align:center;
    padding:6px 0;
    margin:30px 10px 0 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-radius: 6px;
    letter-spacing: 1px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.non:hover{
    cursor:pointer;
    background-color: #df4442;
}

#popin-global a{
    color:#FFFFFF;
}



/* |------------------------| */
/* |-- POPIN EDITER SALLE --| */
/* |------------------------| */


.popin-salle{
    position:fixed;
    width:920px;
    height:540px;
    top:14%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px 10px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-salle .hr{
    background-color: #efefef;
}

.popin-salle form{
    margin:40px auto 0 auto;
    width:890px;
}

.popin-salle .photo{
    display: inline-block;
    margin-left: 110px;
    vertical-align: top;
    width:210px;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-salle .form-side {
    display: inline-block;
    vertical-align: top;
    width: 430px;
}

.form-side:last-of-type{
    margin-left:5px;
}

.popin-salle textarea{
    min-height: 100px;
    max-height: 110px;
}

.popin-salle .error{
    min-width: 265px;
    left:130px;
}

.popin-salle #submit{
    margin-top:35px;
}

.popin-salle label{
    width:100px;
    text-align: right;
    margin-right: 15px;
}


.popin-salle .field-container{
    width:425px;
    vertical-align: top;
}

.popin-salle input, .popin-salle textarea{
    display: inline-block;
    vertical-align: top;
}

.popin-salle img{
    vertical-align: top;
}

.popin-salle #submit{
    background-color: #50A058;
}



/* |-------------------------| */
/* |-- POPIN AJOUTER SALLE --| */
/* |-------------------------| */


.add{
    position:absolute;
    right:20px;
    top:180px;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition:color 0.2s linear;
    transition: color 0.2s linear;
}

.add:hover{
    color:#50A058;
    cursor:pointer;
}



.popin-ajouter{
    display: none;
    position:fixed;
    width:920px;
    height:500px;
    top:17%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px 10px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-ajouter .hr{
    background-color: #efefef;
}

.popin-ajouter form{
    margin:40px auto 0 auto;
    width:890px;
}

.popin-ajouter .photo{
    display: inline-block;
    margin-left: 110px;
    vertical-align: top;
    width:210px;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-ajouter .form-side {
    display: inline-block;
    vertical-align: top;
    width: 430px;
}

.form-side:last-of-type{
    margin-left:5px;
}

.popin-ajouter textarea{
    min-height: 100px;
    max-height: 110px;
}

.popin-ajouter .error{
    min-width: 265px;
    left:130px;
}

.popin-ajouter #submit{
    margin-top:35px;
}

.popin-ajouter label{
    width:100px;
    text-align: right;
    margin-right: 15px;
}


.popin-ajouter .field-container{
    width:425px;
    vertical-align: top;
}

.popin-ajouter input, .popin-ajouter textarea{
    display: inline-block;
    vertical-align: top;
}

.popin-ajouter img{
    vertical-align: top;
}

.popin-ajouter #submit{
    background-color: #50A058;
}



/* |--------------| */
/* |-- PRODUITS --| */
/* |--------------| */

.tri{
    position:relative;
    top:5px;
}

.tri:hover{
    cursor:pointer;
}



/* |---------------------------| */
/* |-- POPIN EDITER PRODUITS --| */
/* |---------------------------| */


.popin-produit{
    position:fixed;
    width:920px;
    height:300px;
    top:32%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px 10px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-produit .hr{
    background-color: #efefef;
}

.popin-produit form{
    margin:40px auto 0 auto;
    width:820px;
    position:relative;
    left:-30px;
}

.popin-produit .photo{
    display: inline-block;
    margin-left: 110px;
    vertical-align: top;
    width:210px;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-produit .form-side {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}


.popin-produit textarea{
    min-height: 100px;
    max-height: 110px;
}

.popin-produit .error{
    min-width: 265px;
    left:130px;
}

.popin-produit #submit{
    margin-top:35px;
}

.popin-produit label{
    width:125px;
    text-align: right;
    margin-right: 15px;
}


.popin-produit .field-container{
    width:390px;
    vertical-align: top;
}

.popin-produit input, .popin-produit textarea{
    display: inline-block;
    vertical-align: top;
    width:120px;
    height:27px;
}

.popin-produit select{
    margin-bottom: 25px;
}

.popin-produit img{
    vertical-align: top;
}

.popin-produit #submit{
    background-color: #50A058;
}


/* |----------------------------| */
/* |-- POPIN AJOUTER PRODUITS --| */
/* |----------------------------| */



.popin-produit-ajouter{
    display: none;
    position:fixed;
    width:920px;
    height:300px;
    top:32%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px 10px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-produit-ajouter .hr{
    background-color: #efefef;
}

.popin-produit-ajouter form{
    margin:40px auto 0 auto;
    width:820px;
    position:relative;
    left:-30px;
}

.popin-produit-ajouter .photo{
    display: inline-block;
    margin-left: 110px;
    vertical-align: top;
    width:210px;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-produit-ajouter .form-side {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}


.popin-produit-ajouter textarea{
    min-height: 100px;
    max-height: 110px;
}

.popin-produit-ajouter .error{
    min-width: 265px;
    left:130px;
}

.popin-produit-ajouter #submit{
    margin-top:35px;
}

.popin-produit-ajouter label{
    width:125px;
    text-align: right;
    margin-right: 15px;
}


.popin-produit-ajouter .field-container{
    width:390px;
    vertical-align: top;
}

.popin-produit-ajouter input, .popin-produit-ajouter textarea{
    display: inline-block;
    vertical-align: top;
    width:120px;
    height:27px;
}

.popin-produit-ajouter select{
    margin-bottom: 25px;
}

.popin-produit-ajouter img{
    vertical-align: top;
}

.popin-produit-ajouter #submit{
    background-color: #50A058;
}



/* |------------------------| */
/* |-- POPIN MEMBRE ADMIN --| */
/* |------------------------| */



.popin-membre-admin{
    display: none;
    position:fixed;
    width:920px;
    height:250px;
    top:36%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px 10px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.popin-membre-admin .hr{
    background-color: #efefef;
}

.popin-membre-admin form{
    margin:40px auto 0 auto;
    width:890px;
}

.popin-membre-admin .photo{
    display: inline-block;
    margin-left: 110px;
    vertical-align: top;
    width:210px;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}


.popin-membre-admin textarea{
    min-height: 100px;
    max-height: 110px;
}

.popin-membre-admin .error{
    min-width: 265px;
    left:130px;
}

.popin-membre-admin #submit{
    margin-top:35px;
}

.popin-membre-admin label{
    width:100px;
    text-align: right;
    margin-right: 15px;
}


.popin-membre-admin .field-container{
    width:425px;
    vertical-align: top;
}

.popin-membre-admin input, .popin-membre-admin textarea{
    display: inline-block;
    vertical-align: top;
}

.popin-membre-admin img{
    vertical-align: top;
}

.popin-membre-admin #submit{
    background-color: #50A058;
}




/* |-----------| */
/* |-- STATS --| */
/* |-----------| */


.stats{
    display: inline-block;
    vertical-align: top;
    padding:1px 20px 10px 20px;
    margin:50px 0 0px 20px;
    background-color: #e2e3e5;
    width:430px;
    border-radius: 4px;
    min-height:370px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
}

.stats h1{
    margin:5px 0 0 0;
    color: #6A3635;
    font-size:25px;
}

.stats .hr{
    background-color:#6A3635;
    height:2px;
    margin:0 0 25px 0;
}

.stats p{
    margin:6px 0;
}

.stats table{
    width:395px;
}

.stats .salle-preview{
    width:85px;
}




/* |----------------| */
/* |-- NEWSLETTER --| */
/* |----------------| */


.email-preview{
    display:block;
    margin:40px auto;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
}

#newsletter-form textarea{
    min-width:600px;
    max-width:600px;
    min-height:180px;
    max-height:300px;
    padding:20px 35px;
    color:#552F2B;
}

#newsletter-form #submit{
    background-color: #50A058;
}