#popin-connexion{
    position:fixed;
    width:750px;
    height:380px;
    top:22%;
    margin-left:75px;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

#popin-connexion .hr{
    background-color: #efefef;
}

#popin-connexion form{
    margin-top: 50px;
}

#popin-connexion .field-container{
    width:360px;
}

#popin-connexion input {
    display: inline-block;
}

#popin-connexion .icon{
    position:relative;
    top:6px;
}

#lokisalle{
    position:absolute;
    left:20px;
    top:28px;
    height:45px;
    padding:5px 8px;
    background-color: #efefef;
    border-radius: 7px 7px 0 5px;
}

#lokisalle img{
    width:150px;
}

#popin-connexion .error{
    min-width: 300px;
    left:140px;
}

#popin-connexion #submit{
    margin-top:20px;
    margin-bottom: 30px;
}

.connexion-footer{
    font-size: 16px;
}

.connexion-footer a{
    color:#FFFFFF;
}

.connexion-footer a:hover{
    text-decoration: underline;
}


#popin-connexion input[type=checkbox]{
    width:20px;
    height:10px;
}

@media screen and (max-height: 470px){

    #popin-connexion{
        top:4%;
    }

    #popin-connexion form{
        margin-top:20px;
    }
}

