.side{
    margin-top:25px;
    display:inline-block;
    border:none;
    width:49%;
    vertical-align: top;
}

.side:last-of-type{
    border-left:2px #87523F solid;
}

#contact-infos{
    vertical-align: top;
    margin: 5px 35px;
    padding:25px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    border-radius: 4px;
    background-color: #EFEEEE;
}

.side .lokisalle{
    display:block;
    width:180px;
    margin-bottom:35px;
}

.side p img{
    margin-right:10px;
}

.side p{
    margin-bottom:7px;
}


#contact{
    padding:15px 30px;
    margin:auto;
    background-color: #E0E4E5;
    width:380px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
}

#contact p{
    margin-bottom:15px;
}

.photo{
    display:block;
    margin: 40px auto 0 auto;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}


#popin-contact{
    position:fixed;
    width:450px;
    height:130px;
    top:45%;
    margin-left:225px;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}
