#facture{
    background-color: #EFEEEE;
    width:800px;
    min-height: 700px;
    margin:35px auto;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
    padding:35px;
}

#topleft{
    font-size: 18px;
}

.container{
    position:relative;
    font-size: 18px;
    height:107px;
}

#membre{
    position:absolute;
    top:-10px;
    right:0;
    width:180px;
    text-align: left;
}

#facture .hr{
    background-color: #000000;
    margin:12px auto 15px auto;
    height:1px;
}


table{
    margin:0 0 20px 0;
    border-collapse: collapse;
    padding:0;
}

td{
    text-align: center;
    min-width:150px;
    border-bottom: 1px #adadad solid;
    padding:0;
}

td img{
    width:150px;
    margin: 0;
}

.container2{
    position:relative;
    font-size: 18px;
    height:65px;
}

#facture .hr2{
    background-color: #000000;
    margin:0px auto 5px auto;
    height:1px;
}

#totaux{
    position:absolute;
    top:0;
    right:0;
    width:180px;
    text-align: left;
}

#total{
    position:absolute;
    top:0;
    right:0;
    width:180px;
    text-align: left;
}

