

/* |-----------------| */
/* |-- RAPH SLIDER --| */
/* |-----------------| */

#raphael-slider{
    position:relative;
    border:3px #ffffff solid;
    width:906px;
    height:303px;
    margin:auto;
    background-color: #0e0e0e;
    -moz-box-shadow: 0px 0px 12px 0px #656565;
    -webkit-box-shadow: 0px 0px 12px 0px #656565;
    -o-box-shadow: 0px 0px 12px 0px #656565;
    box-shadow: 0px 0px 12px 0px #656565;
    margin-bottom:40px;
}


#text1, #text2, #text3{
    font-family: Arial, sans-serif;
    position:absolute;
    color:#ffffff;
    text-align:center;
    font-size:19px;
    padding:10px;
    z-index:3;
    bottom:0;
    left:1px;
    right:0px;
    line-height:21px;
    height:65px;
    background-color:rgba(0,0,0,0.8);
}

#slider1, #slider2, #slider3{
    position:absolute;
    z-index:3;
    top:0;
    left:0;
}

#slider1, #slider2, #slider3, #text1, #text2, #text3, #btn-slide1, #btn-slide2, #btn-slide3{
    opacity:0;
}

#btn-slide1, #btn-slide2, #btn-slide3{
    position:absolute;
    z-index:4;
    bottom:0;
    left:422px;
}

#button-back{
    position:absolute;
    z-index:3;
    bottom:0;
    left:422px;
}

#click-button1, #click-button2, #click-button3{
    position:absolute;
    bottom:10px;
    z-index:4;
    cursor:pointer;
    border:0;
    padding:0;
    margin:0;
    width:13px;
    height:13px;
    opacity:0;
}

#click-button1{
    left:423px;
}

#click-button2{
    left:442px;
}

#click-button3{
    left:462px;
}


/* |----------------| */
/* |-- INDEX PAGE --| */
/* |----------------| */

.left-side{
    display:inline-block;
    vertical-align: top;
    width:620px;
    padding: 0 22px;
    font-size:18px;
}

.left-side .title{
    font-size:26px;
}

.left-side img{
    margin-top:30px;
}


/* |------------| */
/* |-- POPINS --| */
/* |------------| */

#popin-index{
    position:fixed;
    width:450px;
    height:160px;
    top:41%;
    margin-left:225px;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}



/* |-----------------| */
/* |-- LAST OFFERS --| */
/* |-----------------| */

.right-side{
    display:inline-block;
    vertical-align: top;
    background-color: #E6E6E6;
    width:301px;
    height:910px;
    text-align: center;
    -moz-box-shadow: 0px 0px 12px 0px #656565;
    -webkit-box-shadow: 0px 0px 12px 0px #656565;
    -o-box-shadow: 0px 0px 12px 0px #656565;
    box-shadow: 0px 0px 12px 0px #656565;
    margin-bottom:30px;
}

.right-side .title{
    background-color: #87523F;
    color:#FFFFFF;
    font-size:24px;
    padding:7px;
}

.last-offer{
    margin:23px auto;
    border-radius: 8px;
    width:260px;
    padding:12px 5px;
    background-color: #f5f5f5;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

.preview-offer{
    width:230px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

.icon4{
    position:relative;
    top:2px;
}

.offer-voir{
    display: inline-block;
    vertical-align: bottom;
    background-color: #CA9169;
    color:#FFFFFF;
    border-radius:8px;
    width:90px;
    height:26px;
    margin:5px 2px 0 2px;
    font-size:18px;
    text-align: center;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.offer-voir:hover{
    background-color: #e9ac84;
}

