#popin-inscription{
    position:fixed;
    width:900px;
    height:500px;
    top:17%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

#popin-inscription .hr{
    background-color: #efefef;
}

#popin-inscription form{
    margin:40px auto 0 auto;
    width:730px;
}

#lokisalle{
    position:absolute;
    left:20px;
    top:23px;
    height:50px;
    padding:5px 15px;
    background-color: #efefef;
    border-radius: 7px 7px 0 5px;
}

#lokisalle img{
    width:180px;
}

.form-side {
    display: inline-block;
    vertical-align: top;
    width: 350px;
}

.form-side:last-of-type{
    margin-left:15px;
}

#popin-inscription textarea{
    min-height: 133px;
    max-height: 160px;
}

#popin-inscription label:last-of-type{
    margin-left:40px;
}

#popin-inscription .error{
    min-width: 265px;
    left:130px;
}

#popin-inscription #submit{
    margin-top:35px;
}


#popin-inscription .field-container{
    width:360px;
    vertical-align: top;
}

#popin-inscription input, #popin-inscription textarea{
    display: inline-block;
    vertical-align: top;
}

#popin-inscription img{
    vertical-align: top;
}

#membre_sexe{
    display: inline-block;
    margin-bottom:10px;
    width:338px;
    text-align: left;
}

#membre_sexe input{
    position:relative;
    top:5px;
}

#membre_sexe img{
    margin-right: 40px;
}

@media screen and (max-height: 600px){

    #popin-inscription{
        top:3%;
    }

    #popin-inscription form{
        margin-top:20px;
    }
}