@font-face {
    font-family: 'CalibriCustom';
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri.woff') format('woff'),
    url('../fonts/Calibri.woff2') format('woff2'),
    url('../fonts/Calibri.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, p{
    margin:0;
    padding:0;
}

body{
    background-color: #482424;
    font-family: 'CalibriCustom', sans-serif;
}

a img, img{
    border:0;
}

a:active{
    outline:none;
}

a{
    text-decoration: none;
}

.main-container{
    position:relative;
    width:965px;
    margin:auto;
}

.dark-bg{
    background-color:rgba(0,0,0,0.75);
    opacity:0;
    position:fixed;
    z-index:5;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

.hidden{
    display: none;
}

.clear{
    clear:both;
}


/* |-------------| */
/* |-- HEADER  --| */
/* |-------------| */

header{
    height:128px;
    background:url('../img/bg.jpg');
    background-size: cover;
    min-width:965px;
}

header #logo{
    width:280px;
    margin-top:15px;
}

header a{
    outline:none;
}

#right-header a{
    color:#000000;
}

#legend{
    position:relative;
    left:150px;
    font-size:18px;
    width:250px;
}

#right-header{
    position:absolute;
    top:35px;
    right:5px;
    width:260px;
    height:50px;
    background-color: rgba(255,255,255,0.9);
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    border-radius: 5px;
}

#right-header img{
    margin-right: 10px;
    position:relative;
    top:6px;
}

#subscribe{
    display: inline-block;
    height:50px;
    width:128px;
    padding-left:14px;
    padding-top:8px;
    margin-bottom: 15px;
    border-radius: 5px 0 0 5px;
}

#profil{
    display: inline-block;
    height:50px;
    width:121px;
    padding-left:24px;
    padding-top:8px;
    margin-bottom: 15px;
    border-radius: 5px 0 0 5px;
}


#login{
    display: inline-block;
    height:50px;
    width:128px;
    padding-left:12px;
    padding-top:8px;
    border-radius: 0 5px 5px 0;
}

#logout{
    display: inline-block;
    height:50px;
    width:135px;
    padding-left:8px;
    padding-top:8px;
    border-radius: 0 5px 5px 0;
}

#subscribe:hover, #profil:hover, #login:hover, #logout:hover{
    color:#ffffff;
    cursor:pointer;
    background-color: #8e8e8e;
}



/* |----------| */
/* |-- MENU --| */
/* |----------| */

nav{
    position: relative;
    height:50px;
    background-color: #6a3635;
    color:#FFFFFF;
    min-width:965px;
    -moz-box-shadow: inset 0px 0px 12px 0px #000000;
    -webkit-box-shadow: inset 0px 0px 12px 0px #000000;
    -o-box-shadow: inset 0px 0px 12px 0px #000000;
    box-shadow: inset 0px 0px 12px 0px #000000;
}

nav a, nav a:visited, nav a:focus{
    color:#FFFFFF;
    text-decoration: none;
}

nav img{
    margin-right:10px;
    height:24px;
}

.menu-container{
    display:inline-block;
    text-align: center;
    width:170px;
}

.menu{
    display:inline-block;
    text-align: center;
    width:170px;
    font-size:21px;
    padding:10px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    margin:0;
}

.menu:hover, .menu-actif{
    display:inline-block;
    text-align: center;
    width:170px;
    font-size:21px;
    padding:10px;
    background-color: #ca9169;
    margin:0;
    -moz-box-shadow: inset 0px 0px 10px 0px #98634C;
    -webkit-box-shadow: inset 0px 0px 10px 0px #98634C;
    -o-box-shadow: inset 0px 0px 10px 0px #98634C;
    box-shadow: inset 0px 0px 10px 0px #98634C;
}

.menu-actif:hover{
    cursor:default;
}

.clicker:hover{
    cursor:pointer;
}

#panier{
    position:absolute;
    right:5px;
    top:4px;
    font-size: 22px;
    height:42px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    padding:5px 3px 5px 12px;
    border-radius:12px;
    text-align: right;
    overflow-x: hidden;
    background-color: #ca9169;
    -moz-box-shadow: inset 0px 0px 10px 0px #98634C;
    -webkit-box-shadow: inset 0px 0px 10px 0px #98634C;
    -o-box-shadow: inset 0px 0px 10px 0px #98634C;
    box-shadow: inset 0px 0px 10px 0px #98634C;
}

#panier img{
    position:relative;
    top:4px;
    margin-left:5px;
}

#panier:hover{
    background-color: #ebab82;
}

#nbarticles{
    position: absolute;
    top:18px;
    right:6px;
    background-color: #50A058;
    border-radius: 20px;
    width:22px;
    z-index:2;
    text-align: center;
    font-size:16px;
}

#paniervide{
    position: absolute;
    top:18px;
    right:6px;
    background-color: #9B3937;
    border-radius: 20px;
    width:22px;
    z-index:2;
    text-align: center;
    font-size:16px;
}

/* |----------| */
/* |-- PAGE --| */
/* |----------| */

#page-container{
    background-color: #EFEEEE;
}

#content{
    width:965px;
    margin:auto;
    padding:25px 10px;
    background-color: #f7f7f7;
    min-height:300px;
    -moz-box-shadow: 0px 0px 50px 0px #656565;
    -webkit-box-shadow: 0px 0px 50px 0px #656565;
    -o-box-shadow: 0px 0px 50px 0px #656565;
    box-shadow: 0px 0px 50px 0px #656565;
}

.brown{
    color:#87523F;
}

.red{
    color: #d80300;
}

.center{
    margin:auto;
}

.small{
    font-size:13px;
}

#page{
    padding: 10px 22px;
    min-height: 520px;
    position:relative;
}

h1{
    margin:0;
    font-size: 30px;
    font-weight: normal;
}

.hr{
    background-color: #87523F;
    margin:7px 0;
    height:3px;
}

.icon{
    position:relative;
    top:3px;
    margin-right:5px;
}

.icon2{
    position:relative;
    top:3px;
    margin-right:12px;
    border:0;
}

.icon3{
    position:relative;
    top:9px;
    margin-right:7px;
    margin-left:7px;
    border:0;
}

.photo{
    display:block;
    margin:20px auto;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}


/* |----------| */
/* |-- FORM --| */
/* |----------| */

form input{
    display:block;
    width:300px;
    height:35px;
    border-radius: 4px;
    margin: 0 auto 12px auto;
    border:1px #aaaeaf solid;
    padding-left:10px;
    font-family: 'CalibriCustom', sans-serif;
    font-size:15px;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    transition: border 0.3s linear;
}

form textarea{
    display:block;
    width:300px;
    min-width:300px;
    max-width:300px;
    min-height:150px;
    max-height:350px;
    border-radius: 4px;
    margin: 0 auto 8px auto;
    padding: 5px 0 0 10px;
    font-family: 'CalibriCustom', sans-serif;
    font-size:15px;
    border:1px #aaaeaf solid;
    -webkit-transition: border 0.3s linear;
    -moz-transition: border 0.3s linear;
    transition: border 0.3s linear;
}

form input:focus, form textarea:focus{
    border:1px #af7346 solid;
}

form input[type=radio]{
    display:inline-block;
    width:10px;
    height:10px;
    margin:0 10px 20px 15px;
}

form label{
    display: inline-block;
}

#submit, .submit {
    display: block;
    width: 150px;
    background-color:#9B3937;
    border: none;
    text-align:center;
    padding:6px 0;
    margin:15px auto 0 auto;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-radius: 6px;
    letter-spacing: 1px;
    -webkit-transition: background-color 0.3s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.3s linear, opacity 0.2s linear;
    -ms-transition: background-color 0.3s linear, opacity 0.2s linear;
    -o-transition: background-color 0.3s linear, opacity 0.2s linear;
    transition: background-color 0.3s linear, opacity 0.2s linear;
}

#submit:hover, .submit:hover{
    cursor:pointer;
    opacity:0.8;
}

.continuer{
    display: block;
    width: 150px;
    background-color:#50A058;
    border: none;
    text-align:center;
    padding:6px 0;
    margin:30px auto 0 auto;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    border-radius: 6px;
    letter-spacing: 1px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.continuer:hover{
    cursor:pointer;
    background-color: #5eb966;
}

.field-container{
    position:relative;
    width:301px;
    border:0;
    margin:auto;
    padding:0;
}

.error{
    position:absolute;
    left:220px;
    top:30px;
    min-width:180px;
    padding:7px;
    color:#ffffff;
    border-radius:4px;
    background-color: #9B3937;
    z-index:2;
    opacity:0;
    font-size:12px;
}

.error-arrow{
    position:absolute;
    left:10px;
    top:-10px;
    z-index:2;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #9B3937;
}


/* |------------| */
/* |-- POPINS --| */
/* |------------| */

#close{
    position:absolute;
    top:10px;
    right:10px;
    width:20px;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -ms-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
}

#close:hover{
    cursor:pointer;
    -moz-box-shadow: 0px 0px 10px 0px #b3b3b3;
    -webkit-box-shadow: 0px 0px 10px 0px #b3b3b3;
    -o-box-shadow: 0px 0px 10px 0px #b3b3b3;
    box-shadow: 0px 0px 10px 0px #b3b3b3;

}

#popin-global{
    position:fixed;
    width:450px;
    height:130px;
    top:42%;
    margin-left:225px;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}


/* |------------| */
/* |-- FOOTER --| */
/* |------------| */

footer{
    position:relative;
    width:100%;
    background-color: #482424;
    height:170px;
    border-top:7px #301818 solid;
    color:#ffffff;
}

#logo-footer{
    margin-top:40px;
    margin-left:35px;
    margin-right:16px;
    width:50px;
}

.footer-links{
    display:inline-block;
    vertical-align: top;
    width:160px;
    margin-top:40px;
    margin-right:30px;
    border-right:3px #321919 solid;
}

.footer-coord{
    display:inline-block;
    vertical-align: top;
    width:112px;
    margin-top:30px;
    margin-right: 40px;
    font-size:15px;
    padding-bottom: 12px;
    border-right: 1px #87523F solid;
    border-bottom: 1px #87523F solid;
}

footer .last{
    border:none;
}

footer a, footer a:visited, footer a:focus{
    color:#FFFFFF;
    text-decoration: none;
}

footer a:hover{
    color: #c9ac95
}

.copyright{
    text-align:center;
    position:relative;
    top:-10px;
    margin-top:20px;
    font-size: 13px;
}

#up-container{
    display:inline-block;
    vertical-align: top;
    margin-top:38px;
    margin-left:22px;
    width:55px;
    height:55px;
    border-radius: 10px;
}

#up-container a{
    outline:none;
}

#up{
    display:inline-block;
    vertical-align: top;
    width:55px;
    height:55px;
    background-color: #a97355;
    border-radius: 10px;
    padding-top:13px;
    text-align:center;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

#up img{
    width:28px;
}

#up:hover{
    background-color: #c88e6f;
}

#print:hover{
    cursor:pointer;
    color:#c9ac95;
}
