#page{
    min-height:650px;
}

#newsletter{
    position:relative;
    margin:30px 0;
}

#newsletter .photo{
    display: block;
    margin:auto;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#newsletter .loki{
    display: block;
    width:200px;
    margin:5px auto 25px auto;
}

#back{
    position:absolute;
    top:80px;
    left:240px;
    background-color: rgba(255,255,255,0.9);
    width:420px;
    height:250px;
    padding:10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

#submit{
    width:185px;
    margin-top:40px;
    background-color: #CA9169;
}

#submit:hover{
    background-color: #d49b73;
}