#popin-oubli{
    position:fixed;
    width:800px;
    height:320px;
    top:22%;
    margin-left: 50px;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

#popin-oubli .hr{
    background-color: #efefef;
}

#popin-oubli form{
    margin-top: 25px;
}

#popin-oubli p{
    margin-top: 30px;
}

#lokisalle{
    position:absolute;
    left:20px;
    top:28px;
    height:45px;
    padding:5px 8px;
    background-color: #efefef;
    border-radius: 7px 7px 0 5px;
}

#lokisalle img{
    width:150px;
}

#popin-oubli .error{
    min-width: 300px;
    left:100px;
}

#popin-oubli #submit{
    margin-top:35px;
    margin-bottom: 15px;
}


@media screen and (max-height: 400px){

    #popin-oubli{
        top:5%;
    }

    #popin-oubli form{
        margin-top:20px;
    }
}
