#panier-container{
    position:relative;
    background-color: #E6E6E6;
    border-radius:8px;
    padding:10px;
    width:850px;
    min-height:400px;
    margin:30px auto;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#total{
    position:absolute;
    right:30px;
    bottom:20px;
    text-align: right;
}

#tva{
    text-align: right;
    margin:10px 0;
}

#total-left{
    display: inline-block;
    vertical-align: top;
    font-size:22px;
    padding:7px 30px;
}

#prix-total{
    display: inline-block;
    vertical-align: top;
    border-top:2px #a0a4a7 solid;
    width:180px;
    text-align: right;
    font-size: 28px;
}

#panier-title{
    font-size: 21px;
    margin-left:5px;
}

#panier-container .hr{
    background-color: #a0a4a7;
    height:2px;
    width:190px;
    margin:5px;
}

#panier-container #submit{
    float:right;
    margin:15px auto 0 auto;
    background-color:#C88F68;
    width:150px;
}

#panier-container label{
    font-size:14px;
}

#conditions{
    margin-top:15px;
}

label a{
    color:#000000;
    text-decoration: underline;
}

.panier-photo{
    width:100px;
}

table{
    margin:35px auto 215px auto;
    border-collapse: collapse;
    background-color: #d6d6d6;
    padding:10px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

thead{
    background-color: #c5c5c5;
    border-bottom: 1px #999999 solid;
    height:40px;
    font-weight: bold;
}

td, th{
    text-align: center;
    min-width:90px;
    border-bottom: 1px #adadad solid;
    padding:5px 0;
}


#vider{
    position:absolute;
    top:15px;
    right:16px;
}

#panier-container a{
    color:#000000;
}

#reglement{
    position:absolute;
    left:30px;
    bottom:20px;
    width:260px;
}

