.lokisalle{
    display:block;
    margin:25px auto;
    width:210px;
}

.photo{
    display:block;
    margin:auto;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#plandusite-container{
    width:690px;
    margin:30px auto;
}

.plandusite{
    display: inline-block;
    vertical-align: top;
    padding:30px;
    margin:0;
    background-color: #E0E4E5;
    width:300px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 12px 0px #656565;
    -webkit-box-shadow: 0px 0px 12px 0px #656565;
    -o-box-shadow: 0px 0px 12px 0px #656565;
    box-shadow: 0px 0px 12px 0px #656565;
}

.plandusite:first-child{
    margin-right: 86px;
}

.plandusite p{
    margin:10px;
}

.plandusite img{
    margin-right: 5px;
}

.plandusite a, .plandusite a:visited, .plandusite a:active{
    color:#000000;
}

.plandusite a:hover{
    color:#87523F;
    font-weight: bold;
}