#popin-inscription{
    position:fixed;
    width:450px;
    height:140px;
    top:39%;
    margin-left:225px;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

.side{
    margin-top:25px;
    display:inline-block;
    border:none;
    width:448px;
    vertical-align: top;
}

.border{
    border-right:2px #87523F solid;
}

#profil-infos{
    vertical-align: top;
    padding:1px 20px 18px 20px;
    margin:5px 20px;
    background-color: #e9eaec;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    border-radius: 4px;
}

#profil-infos p{
    margin-top:3px;
    margin-bottom: 6px;
}

#profil-infos h2{
    margin:15px 0 5px 0;
    color:#693C3B;
}

#profil-infos a{
    color:#000000;
}

#profil-infos .hr{
    background-color: #684343;
    height:2px;
    margin:0 0 25px 0;
}

#profil-infos a:hover{
    color:#87523F;
}


#stats{
    vertical-align: top;
    padding:1px 20px 18px 20px;
    margin:5px 0 5px 20px;
    background-color: #e9eaec;
    width:400px;
    border-radius: 4px;
    height:320px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
}

#profil-commandes h2{
    margin:15px 0 5px 0;
    color:#693C3B;
}

#stats h2{
    margin:15px 0 5px 0;
    color:#693C3B;
}

#profil-commandes .hr{
    background-color: #684343;
    height:2px;
    margin:0 0 25px 0;
}

#stats .hr{
    background-color:#684343;
    height:2px;
    margin:0 0 25px 0;
}

#panier-link, #deco-link{
    margin:6px 0;
    width:142px;
}

#edit-profil{
    width:210px;
}

#edit-profil:hover{
    color:#87523F;
    cursor:pointer;
}


.commande-line{
    margin:3px;
}

#profil-commandes{
    padding:1px 20px 18px 20px;
    margin:40px 0 5px 20px;
    background-color: #e9eaec;
    width:850px;
    border-radius: 4px;
    min-height:250px;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
}

.photo{
    display:block;
    margin:40px 18px 10px 18px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#dashboard{
    margin-top:35px;
    border-left: 3px #693C3B solid;
    padding: 4px 10px;
    background-color: #d2d3d5;
    -webkit-box-shadow: 2px 2px 2px #949597;;
    -moz-box-shadow: 2px 2px 2px #949597;
    -o-box-shadow: 2px 2px 2px #949597;
    box-shadow: 2px 2px 2px #949597;
}

#avatar{
    display: inline-block;
    padding:6px 4px;
    width:31px;
    height:35px;
    margin-right:5px;
    margin-bottom:4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 2px #000000;;
    -moz-box-shadow: 2px 2px 2px #000000;
    -o-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}




/* ----------------| */
/* |-- COMMANDES --| */
/* |---------------| */

table{
    margin:35px auto 40px auto;
    border-collapse: collapse;
    background-color: #d6d6d6;
    padding:10px;
    border-radius: 8px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

thead{
    background-color: #c5c5c5;
    border-bottom: 1px #999999 solid;
    height:40px;
    font-weight: bold;
}

td, th{
    text-align: center;
    min-width:190px;
    border-bottom: 1px #adadad solid;
    padding:5px 0;
}

td{
    padding:10px 0;
}

table a{
    color:#000000;
}



/* |-----------------------| */
/* |-- POPIN EDIT PROFIL --| */
/* |-----------------------| */

#popin-profil{
    display:none;
    position:fixed;
    width:900px;
    height:400px;
    top:19%;
    background-color: #767a7d;
    border-radius: 4px;
    padding:25px;
    opacity:0;
    z-index:10;
    text-align: center;
    font-size: 18px;
    color:#ffffff;
    border:2px #afafaf solid;
    overflow-y:auto;
    overflow-x:hidden;
    -moz-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 12px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 12px 0px #bfbfbf;
    box-shadow: 0px 0px 12px 0px #bfbfbf;
}

#popin-profil .hr{
    background-color: #efefef;
}

#popin-profil form{
    margin:40px auto 0 auto;
    width:765px;
    padding:0;
}

#lokisalle{
    position:absolute;
    left:20px;
    top:23px;
    height:50px;
    padding:5px 15px;
    background-color: #efefef;
    border-radius: 7px 7px 0 5px;
}

#lokisalle img{
    width:180px;
}

.form-side{
    position:relative;
    display: inline-block;
    vertical-align: top;
    width:360px;
    margin:0;
}

.form-side:last-of-type{
    margin-left:30px;
}

#popin-profil textarea{
    min-height: 87px;
    max-height: 110px;
}

#popin-profil label:last-of-type{
    margin-left:40px;
}

#popin-profil .error{
    min-width: 325px;
    left:100px;
}

#popin-profil #submit{
    margin-top:35px;
}

#popin-profil .field-container{
    width:360px;
    vertical-align: top;
}

#popin-profil input, #popin-profil textarea{
    display: inline-block;
    vertical-align: top;
}

#popin-profil img{
    vertical-align: top;
}

#changeMdp{
    display:none;
    opacity:0;
}

#changeMdpLink{
    position:absolute;
    top:80px;
    left:12px;

}

#changeMdpLink:hover{
    cursor:pointer;
    text-decoration: underline;
}


@media screen and (max-height: 500px){

    #popin-profil{
        top:3%;
    }

    #popin-profil form{
        margin-top:20px;
    }
}
