#page{
    min-height:650px;
}

.mini-preview{
    width:60px;
    height:30px;
    position:absolute;
    top:3px;
    left:2px;
}

#rooms-list{
    display:inline-block;
    position:relative;
    vertical-align: top;
    width:400px;
    height:440px;
    margin-top:20px;
    border-right: 2px #AEADAD solid;
}

#rooms-list a{
    text-decoration: none;
    color:#000000;
}

.room-list-selection{
    position:relative;
    padding-left:75px;
    padding-top:5px;
    font-size:16px;
    height:36px;
    -webkit-transition: background-color 0.2s linear, color 0.1s linear;
    -moz-transition: background-color 0.2s linear, color 0.1s linear;
    -ms-transition: background-color 0.2s linear, color 0.1s linear;
    -o-transition: background-color 0.2s linear, color 0.1s linear;
    transition: background-color 0.2s linear, color 0.1s linear;
}

.room-list-selection:hover{
    background-color: #CA9169;
    color:#FFFFFF;
    cursor:pointer;
}

.room-list-title{
    font-size:21px;
}

.separator{
    color:#AEADAD;
}

#room-preview{
    position:relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    padding-left:22px;
    width:497px;
    height:500px;
}

.room-details{
    position:absolute;
    top:20px;
    left:22px;
    padding:60px 30px 15px 30px;
    width:460px;
    margin:auto;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    display: none;
    z-index:2;
    background-color: #e6e6e6;
}

.room-details .preview{
    width:400px;
    height:196px;
    border:5px #FFFFFF solid;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    margin-bottom: 15px;
}

.room-details p{
    margin: 0;
}

.room-details .indent{
    margin-left: 32px;
}

.room-title{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color: #CA9169;
    height:43px;
    color:#FFFFFF;
    text-align: center;
    padding:0;
    font-size:32px;
}


.panier{
    position:absolute;
    right:5px;
    top:2px;
}

.room-back{
    margin:10px 5px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#back{
    position:relative;
}

#back-legend{
    position:absolute;
    top:80px;
    left:84px;
    background-color: rgba(255,255,255,0.9);
    width:300px;
    height:250px;
    padding:10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

#back-legend img{
    display: block;
    width:200px;
    margin:5px auto 25px auto;
}

.room-details-left{
    display: inline-block;
    vertical-align: top;
    width:220px;
    padding-right:5px;
}

.room-details-right{
    display: inline-block;
    vertical-align: top;
    width:175px;
}


.page-list{
    position:absolute;
    display:none;
    width:100%;
}

#page-nav{
    position:absolute;
    width:30%;
    bottom:0;
    left:33%;
    color:#87523F;
    font-size: 18px;
}

.page-link{
    display: inline-block;
}

.page-link:hover{
    cursor:pointer;
}

#page-link1{
    margin-left:10px;
}
