#page{
    min-height:700px;
}

h1{
    display: inline-block;
}

.title-link{
    font-size:24px;
    color: #c87f57;
}

#page a{
    color:#000000;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

#page a:hover{
    color:#c87f57;
}

#left-block{
    display: inline-block;
    position:absolute;
    left:22px;
    top:90px;
    width:450px;
    background-color: #e6e6e6;
    padding:58px 0 15px 23px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
    z-index:2;
}

.photo-preview{
    width:400px;
    height:196px;
    border:5px #FFFFFF solid;
    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
}

.photo-hover{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0;
}

.photo-hover:hover{
    cursor:pointer;
}

.photo-hover img{
    display: block;
    margin:85px auto;
    opacity:0.8;
}

#preview{
    position:relative;
    width:400px;
    height:196px;
    margin-bottom: 20px;
}

#zoom-preview{
    display:none;
}

#zoom-preview img{
    display: block;
    width:980px;
    margin:9% auto 9% auto;
    border:2px #595959 solid;
    -moz-box-shadow: 0px 0px 20px 0px #bfbfbf;
    -webkit-box-shadow: 0px 0px 20px 0px #bfbfbf;
    -o-box-shadow: 0px 0px 20px 0px #bfbfbf;
    box-shadow: 0px 0px 20px 0px #bfbfbf;
}

.room-title{
    position:absolute;
    top:-2px;
    left:0;
    width:100%;
    background-color: #CA9169;
    height:43px;
    color:#FFFFFF;
    text-align: center;
    font-size:32px;
}

.details-left .indent{
    margin-left: 32px;
}

.details-left{
    display: inline-block;
    vertical-align: top;
    width:250px;
}

.details-right{
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
    width:140px;
    text-align: center;
}

.details-right p:first-child{
    font-size: 25px;
    margin-bottom: 6px;
}

.details-right p:last-child{
    font-size: 13px;
    margin-top: 6px;
}

#left-side{
    display:inline-block;
    vertical-align: top;
    width:460px;
    min-height:750px;
    padding-top: 435px;
}

#right-side{
    display:inline-block;
    width:430px;
}

#description-block-top{
    position:relative;
    width:450px;
    margin:28px 0;
    background-color: #e6e6e6;
    padding:15px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

.description-icon{
    position:absolute;
    top:11px;
    left:17px;
}

.description{
    display: block;
    vertical-align: top;
    background-color: #fcfcfc;
    margin: 20px auto;
    border-radius: 5px;
    width:370px;
    min-height:50px;
    padding: 10px 18px;
    border:1px #bdbdbd solid;
}

#offers-block{
    position:relative;
    width:430px;
    margin:22px 7px;
    background-color: #e6e6e6;
    padding:15px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#offers-block label{
    display: inline-block;
    width:150px;
    margin:0;
}

#offers-block label:hover{
    cursor:pointer;
}

#offers-block input[type=radio]{
    display: inline-block;
    position: relative;
    bottom:9px;
    margin:0 18px;
}

#offers-block .hr{
    margin:5px;
    height:2px;
    background-color: #AFB3B6;
}

.price{
    display: inline-block;
    font-size: 22px;
    position:relative;
    top:-8px;
    margin-left:10px;
}

#submit{
    position:relative;
    background-color: #87523F;
    width:200px;
}

#submit .error{
    left:-60px;
    top:-40px;
    z-index:8;
    height:30px;
}


#avis{
    position:relative;
    display: inline-block;
    width:430px;
    background-color: #e6e6e6;
    padding:15px 12px 5px 12px;
    margin-top: 12px;
    margin-left:7px;
    min-height: 407px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#avis-icon{
    position:absolute;
    top:15px;
    left:20px;
}

#avis .title{
    margin:11px 0 5px 46px;
    font-size: 22px;
}

#avis .hr{
    background-color: #CA9169;
    height:8px;
    margin:0;
    border:1px #482424 solid;
}

#avis-cadre{
    margin:0 auto;
    width:370px;
    min-height:50px;
    max-height: 600px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border-right: 1px #bdbdbd solid;
    border-left: 1px #bdbdbd solid;
    padding:18px 15px 2px 15px;
}

#commenter{
    width:395px;
    margin:25px 25px;
}

#commenter textarea{
    display: inline-block;
    min-width: 330px;
    width:330px;
    max-width: 330px;
    margin:3px 0;
    min-height:100px;
    max-height: 140px;
    border:1px #bdbdbd solid;
    border-radius: 6px;
    padding:5px 8px;
}

#commenter .submit{
    background-color: #87523F;
}

#submit-container{
    position:relative;
    width:330px;
    margin-top:5px;
}

#note{
    display: inline-block;
    margin: 5px 5px;
    vertical-align: top;
    width:50px;
    min-height:75px;
    text-align: center;
}

#note select{
    width:40px;
    margin:10px 0 20px 0;
}

.field-container{
    display: inline-block;
    width:330px;
}

#commenter .error{
    left:10px;
    top:85px;
    min-width:335px;
}


#avis-cadre .hr{
    background-color: #c5c9cc;
    height:2px;
    border:none;
    margin-bottom: 4px;
}

.avis-line{
    margin-bottom: 16px;
}

.avis-line .avis-date{
    position:relative;
    top:5px;
    float:right;
    font-size:12px;
    color:#595959;
    margin: 0;
}


#suggestions{
    position:relative;
    width:900px;
    min-height: 150px;
    margin:50px auto 0 auto;
    background-color: #e6e6e6;
    padding:7px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

#suggestions h2{
    margin:0 10px;
    font-size: 21px;
    font-weight: normal;
}

#suggestions .hr{
    background-color: #b7bbbe;
    height:2px;
    margin:1px 8px;
}

.suggestion-offre{
    display: inline-block;
    vertical-align: top;
    margin:13px 13px;
    width:265px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius:8px;
    padding:10px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

.preview-suggestion{
    width:240px;
    -moz-box-shadow: 0px 0px 8px 0px #656565;
    -webkit-box-shadow: 0px 0px 8px 0px #656565;
    -o-box-shadow: 0px 0px 8px 0px #656565;
    box-shadow: 0px 0px 8px 0px #656565;
}

.suggestion-voir{
    padding:5px;
    background-color: #CA9169;
    color:#FFFFFF;
    border-radius:8px;
    width:240px;
    margin:10px auto;
    font-size:18px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.suggestion-voir:hover{
    background-color: #e9ac84;
}


@media screen and (min-height:850px){
    #zoom-preview img{
        margin: 12% auto 12% auto;
    }
}